In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(readxl)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

In [2]:
credit_card = read_excel("data/credit_card.xls", skip = 1)
tidied_credit_card = credit_card %>% 
                    select(ID, SEX, EDUCATION, AGE, default_payment_next_month) %>%
                    mutate(default_payment_next_month = as_factor(default_payment_next_month))
tidied_credit_card

      ID    SEX EDUCATION AGE default_payment_next_month
1      1    2   2         24  1
2      2    2   2         26  1
3      3    2   2         34  0
4      4    2   2         37  0
5      5    1   2         57  0
6      6    1   1         37  0
7      7    1   1         29  0
8      8    2   2         23  0
9      9    2   3         28  0
10    10    1   3         35  0
11    11    2   3         34  0
12    12    2   1         51  0
13    13    2   2         41  0
14    14    1   2         30  1
15    15    1   1         29  0
16    16    2   3         23  0
17    17    1   1         24  1
18    18    1   1         49  0
19    19    2   1         49  0
20    20    2   1         29  0
21    21    2   3         39  0
22    22    2   2         39  1
23    23    2   2         26  1
24    24    2   1         40  1
25    25    1   1         23  0
26    26    1   3         23  0
27    27    1   1         27  1
28    28    2   3         30  0
29    29    2   3         47  0
30    30    1   1         26  0
⋮     ⋮     ⋮   ⋮         ⋮   ⋮
29971 29971 1   1         34  0
29972 29972 1   3         36  0
29973 29973 1   1         37  0
29974 29974 1   2         35  1
29975 29975 1   2         37  1
29976 29976 1   2         41  0
29977 29977 1   2         47  1
29978 29978 1   1         34  0
29979 29979 1   2         39  0
29980 29980 1   1         32  0
29981 29981 1   3         42  0
29982 29982 1   2         44  0
29983 29983 1   2         36  1
29984 29984 1   2         44  0
29985 29985 1   2         38  0
29986 29986 1   1         30  0
29987 29987 1   1         35  0
29988 29988 1   1         34  0
29989 29989 1   1         34  0
29990 29990 1   1         35  0
29991 29991 1   2         41  0
29992 29992 1   2         34  1
29993 29993 1   3         43  0
29994 29994 1   1         38  0
29995 29995 1   2         34  1
29996 29996 1   3         39  0
29997 29997 1   3         43  0
29998 29998 1   2         37  1
29999 29999 1   3         41  1
30000 30000 1   2         46  1